<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Erp Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/produto">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-disabled="true" routerLink="/sobre">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>