<section style="display: grid; grid-template-columns: auto auto auto;
">
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-footer">
                Eletronicos
        </div>
        <button class="btnClass ">Saiba Mais</button>

    </div>
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-footer">
            Móveis
        </div>
        <button class="btnClass ">Saiba Mais</button>

    </div>    
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-footer">
            Alimentos
        </div>
        <button class="btnClass ">Saiba Mais</button>

    </div>
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-footer">
            Construção
        </div>
        <button class="btnClass ">Saiba Mais</button>

    </div>
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-footer">
            Decoração
        </div>
        <button class="btnClass ">Saiba Mais</button>

    </div><div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-footer">
            Ferramentas
        </div>
        <button class="btnClass ">Saiba Mais</button>

    </div>
</section>